# file generated 2022-07-26 - see update-dependencies.sh
atomicwrites==1.4.1
attrs==21.4.0
cheroot==8.6.0
importlib-metadata==4.12.0
jaraco.functools==3.5.1
Markdown==3.4.1
more-itertools==8.13.0
pluggy==1.0.0
py==1.11.0
pytest==3.10.1
six==1.16.0
web.py==0.40
zipp==3.8.1
